<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Folder</title>
  </head>
  <body>
    <% if (errors) { %>
    <ul>
      <% errors.forEach(error => { %>
      <li class="error"><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <form action="/files/folders/create" method="post">
      <label for="name">Folder name:</label>
      <input type="text" id="name" name="name" value="<%= name %>" required />
      <button type="submit">Create Folder</button>
    </form>
  </body>
</html>
