<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folders Page</title>
  </head>
  <body>
    <h1>Your Folders</h1>
    <% if (folders.length > 0) { %>
    <ul>
      <% folders.forEach(folder => { %>
      <li>
        <h1><%= folder.name %></h1>
        <a href="/files/folders/update/<%= folder.id %>">Update folder</a>
        <a href="/files/folders/<%= folder.id %>">Folder Files</a>
        <form action="/files/folders/delete/<%= folder.id %>" method="post">
          <button type="submit">Delete Folder</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>You don't have any folders yet.</p>
    <% } %>
    <a href="/files/folders/create">Create a new folder</a>
    <a href="/files/upload">Upload file</a>
  </body>
</html>
