<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <% if (user) { %>
    <h1>Welcome back <%= user.username %></h1>
    <a href="/files/folders/create">Create folder</a>
    <a href="/logout">Logout</a>
    <a href="/files/folders">Folders</a>
    <a href="/files/upload">Upload file</a>
    <a href="/files">All Files</a>
    <a href="/share-folder">Share Folder</a>
    <% } else { %>
    <h1>Please sign up first!</h1>
    <a href="/sign-up">Sign up!</a>
    <a href="/login">Login</a>
    <% } %>
  </body>
</html>
