<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Folder</title>
  </head>
  <body>
    <% if (errors) { %>
    <ul>
      <% errors.forEach(error => { %>
      <li class="error"><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <form action="/share-folder" method="post">
      <label for="folder">Select Folder:</label>
      <select id="folder" name="folderId" required>
        <% folders.forEach(folder => { %>
        <option value="<%= folder.id %>"><%= folder.name %></option>
        <% }) %>
      </select>

      <label for="duration">Share duration(e.g., 1d, 10h):</label>
      <input type="text" id="duration" name="duration" required />

      <button type="submit">Share Folder</button>
    </form>
  </body>
</html>
