<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (errors) { %>
    <ul>
      <% errors.forEach(error => { %>
      <li class="error"><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <form action="/sign-up" method="post">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        value="<%= username %>"
        required
      />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <label for="confirm-password">Confirm password</label>
      <input type="password" id="confirm-password" name="confirm-password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
