@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/Fonts/Roboto-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/Fonts/Roboto-Bold.ttf") format("truetype");
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
